<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Bemerkung</th>
        <th>Events</th>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-id="{{id}}">
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{kraftstoff}}</td>
            <td><button class="btn edit">EDIT</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>